In [1]:
import pandas as pd

In [10]:
tv_show_csv = "CSVs/tv_shows.csv"

tv_shows_df = pd.read_csv(tv_show_csv)

In [11]:
tv_shows_df

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5606,5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1
5607,5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1
5608,5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1
5609,5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1
5610,5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1

In [16]:
tv_shows_2020 = tv_shows_df.loc[tv_shows_df['Year'] == 2020]
tv_shows_2020

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
46,46,Never Have I Ever,2020,16+,8.0,97%,1,0,0,0,1
50,50,Unorthodox,2020,18+,8.1,94%,1,0,0,0,1
62,62,"Tiger King: Murder, Mayhem and Madness",2020,18+,7.8,86%,1,0,0,0,1
95,95,I Am Not Okay with This,2020,18+,7.6,85%,1,0,0,0,1
101,101,Outer Banks,2020,18+,7.6,72%,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5562,5562,Short Circuit,2020,all,NaN,NaN,0,0,0,1,1
5569,5569,It's A Dog's Life,2020,7+,5.2,NaN,0,0,0,1,1
5576,5576,Be our Chef,2020,all,6.9,NaN,0,0,0,1,1
5577,5577,Shop Class,2020,all,7.2,NaN,0,0,0,1,1
5593,5593,Secrets of the Zoo: Tampa,2020,NaN,8.4,NaN,0,0,0,1,1

In [25]:
tv_shows_2020.sum(axis = 0)

Unnamed: 0                                                302991
Title          Never Have I EverUnorthodoxTiger King: Murder,...
Year                                                      357540
IMDb                                                        1171
Netflix                                                      110
Hulu                                                          41
Prime Video                                                   18
Disney+                                                        8
type                                                         177
dtype: object

In [26]:
netflix_df = tv_shows_2020.loc[tv_shows_2020['Netflix'] == 1]
netflix_df

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
46,46,Never Have I Ever,2020,16+,8.0,97%,1,0,0,0,1
50,50,Unorthodox,2020,18+,8.1,94%,1,0,0,0,1
62,62,"Tiger King: Murder, Mayhem and Madness",2020,18+,7.8,86%,1,0,0,0,1
95,95,I Am Not Okay with This,2020,18+,7.6,85%,1,0,0,0,1
101,101,Outer Banks,2020,18+,7.6,72%,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1579,1579,Nailed It! Germany,2020,NaN,5.6,NaN,1,0,0,0,1
1617,1617,Buddi,2020,NaN,8.2,NaN,1,0,0,0,1
1675,1675,Jusqu'à l'Aube,2020,18+,3.4,NaN,1,0,0,0,1
1806,1806,Chico Bon Bon: Monkey with a Tool Belt,2020,NaN,7.9,NaN,1,0,0,0,1
1822,1822,True: Terrific Tales,2020,NaN,NaN,NaN,1,0,0,0,1

In [33]:
hulu_df = tv_shows_2020.loc[tv_shows_2020['Hulu'] == 1]
hulu_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
1970,1970,Normal People,2020,NaN,8.8,83%,0,1,0,0,1
1999,1999,Devs,2020,18+,7.8,81%,0,1,0,0,1
2001,2001,DAVE,2020,18+,8.4,62%,0,1,0,0,1
2026,2026,Zoey's Extraordinary Playlist,2020,16+,8.1,74%,0,1,0,0,1
2033,2033,Mrs. America,2020,18+,7.5,96%,0,1,0,0,1

In [35]:
prime_df = tv_shows_2020.loc[tv_shows_2020['Prime Video'] == 1]
prime_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
3585,3585,Upload,2020,NaN,8.2,81%,0,0,1,0,1
3630,3630,Tales from the Loop,2020,16+,7.5,68%,0,0,1,0,1
3643,3643,Hunters,2020,18+,7.2,64%,0,0,1,0,1
3646,3646,ZeroZeroZero,2020,18+,8.2,80%,0,0,1,0,1
3683,3683,Briarpatch,2020,18+,6.4,77%,0,0,1,0,1

In [36]:
disney_df = tv_shows_2020.loc[tv_shows_2020['Disney+'] == 1]
disney_df

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
5482,5482,Disney Gallery / Star Wars: The Mandalorian,2020,7+,8.5,NaN,0,0,0,1,1
5499,5499,Prop Culture,2020,7+,8.6,NaN,0,0,0,1,1
5509,5509,Diary of a Future President,2020,7+,5.5,100%,0,0,0,1,1
5562,5562,Short Circuit,2020,all,NaN,NaN,0,0,0,1,1
5569,5569,It's A Dog's Life,2020,7+,5.2,NaN,0,0,0,1,1
5576,5576,Be our Chef,2020,all,6.9,NaN,0,0,0,1,1
5577,5577,Shop Class,2020,all,7.2,NaN,0,0,0,1,1
5593,5593,Secrets of the Zoo: Tampa,2020,NaN,8.4,NaN,0,0,0,1,1